<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179869228736-v5175hsass26vtrbtrn5gj3nt07qjfd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179869228736-v5175hsass26vtrbtrn5gj3nt07qjfd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5UzcxC7oV5B5nyabRxRwksaD59RO1Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>179869228736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafa.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-20fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-20fd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179869228736:ios:8e84f967ff246ab3515725</string>
</dict>
</plist>