<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244180262925-o6775h07iav6fk21uv3mprl21r7gmhrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244180262925-o6775h07iav6fk21uv3mprl21r7gmhrd</string>
	<key>API_KEY</key>
	<string>AIzaSyAVfGN9-lbVAJCLK3-3GUnyqfnqpQ2x6JM</string>
	<key>GCM_SENDER_ID</key>
	<string>244180262925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafa.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1b646</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1b646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244180262925:ios:a536a97fc76c8daab83544</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1b646.firebaseio.com</string>
</dict>
</plist>